{% extends 'base.j2' %}
{% block title %}About{% endblock title %}
{% block content %}
<div class="float-start">
    <span class="text-muted">GnuCash Web v{{ pkg_version }} © Joshua Bachmeier (2023), GPLv3+</span>
</div>
<div class="float-end">
    <a href="https://github.com/joshuabach/gnucash-web">GitHub</a>
</div>
{% endblock %}